.home {
  width: 100%;
}
.home__container {
  margin: auto;
  max-width: 1024px;
}
.home__container-section {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1140px) {
  .home__container {
    max-width: 85%;
  }
}
