.home__container-section_grid {
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .home__container-section_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
