.select {
  width: 240px;
}
.css-14el2xx-placeholder {
  color: #343434 !important;
}
.select__options {
  color: #343434;
  line-height: 1.57;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: #fff;
  border: solid 0.1rem #2e2e2e;
  font-family: "Roboto", sans-serif;
}
.select__options-icon {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}
.select__options-icon_image {
  width: 1.6rem;
  height: 1.6rem;
}
